@model emailMarketingNet6.Models.CampaignModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CampaignModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
          
           
            <div class="form-group">
                <label asp-for="TemplateId" class="control-label"></label>
                <select asp-for="TemplateId" class ="form-control" asp-items="ViewBag.TemplateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContactListId" class="control-label"></label>
                <select asp-for="ContactListId" class ="form-control" asp-items="ViewBag.ContactListId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmailSendId" class="control-label"></label>
                 <select asp-for="EmailSendId" class ="form-control" asp-items="ViewBag.EmailSendId"></select>  
            </div>
              <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Actived" /> @Html.DisplayNameFor(model => model.Actived)
                </label>
            </div>

             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Schedule" /> @Html.DisplayNameFor(model => model.Schedule)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Hour" class="control-label"></label>
                <input asp-for="Hour" class="form-control" />
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minute" class="control-label"></label>
                <input asp-for="Minute" class="form-control" />
                <span asp-validation-for="Minute" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
